<html>
<head>


<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	<script>


var userApp = angular.module('userApp', []);
userApp.controller('userCtrl', function($rootScope, $http,$scope){
	$rootScope.persons = [];
    $rootScope.ort = 'witaj mateusz';
    $rootScope.refreshUser = function(){
    
    $http.get('/usermanagement/user').then(successCallback, errorCallback);

    function successCallback(response){
    	$rootScope.persons = response;
    }
    function errorCallback(error){
    	console.log(error, 'can not get data.');
    }
    
    };
}); 
</script>


<title>Witaj</title>
</head>
<body ng-app="userApp">
	<section>
	<div class="jumbotron">
			<div class="container">
				<h1>User management  </h1>
			
				<section >
				<p ng-controller="userCtrl"><a class="btn btn-danger" ng-click="refreshUser()">Uzytkownicy</a></p>
				
			
				<table class="table table-hover">
				<tr>
				<th>Imie</th>
				<th>Nazwisko</th>
				<th>Wiek</th>
				</tr>
				<tr ng-repeat="person in persons">
				<td>{{person.firstname}}</td>
				<td>{{person.lastname}}</td>
				<td>{{person.age}}</td>
				 </tr>
				</table>
			
				
	
				
			</section>
			</div>
		
	</section>
	
</div>
	
</body>
</html>